/.env
/.ddev/.env.web
/.idea
/vendor
.DS_Store
/node_modules
/_box
!/scripts/
/scripts/*
!/scripts/story-reading/
!/scripts/story-reading/**
/storage
/web/bilder
/web/media-assets
/node_modules
/craft/package-lock.json
/web/imager
/web/cpresources
/a.sql
