div.author-grid {
	margin-top: 96px;
	div.author-grid__item {
		height: 100px;
		grid-column: 1 / -1;
		
		align-items: center;
		&.sort-character {
			display: flex;
			justify-content: center;
			p {
				font-weight: 400;
				color: $primary-color;
			}
		}
		&.author-card {
			
			border: 1px solid $light-grey;
			
			div.header {
				cursor:pointer;
				padding-left: 12px;
				height: 100px;
				display: flex;
				align-items: center;
			}
			figure {
				width: 76px;
				margin-right: 12px;
				img {
					border-radius: 50%;
				}
			}
			div.author-bio {
				display: none;
				padding: 24px;
				ul.related-entries {
					margin-top: 12px;
					li {
						margin-bottom: 6px;
						padding-left: 1em;
						&:before {
							content: "";
							background: url('data:image/svg+xml; utf8, <svg width="434px" height="500px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\a <g style=""><path d="M294.671697,215.182669 L0.000000,215.182669 L0.000000,285.440041 L295.353808,285.440041 L145.289517,449.146539 L191.673025,498.940599 L432.458000,249.970300 L191.673025,1.000000 L145.289517,51.476170 Z" fill="%23999aa5" stroke="none" />\a </g></svg>');
							background-size: contain;
							margin: 0 .4em 0 0;
							width: .6em;
							height: .6em;
							background-repeat: no-repeat;
							display: inline-block;
							vertical-align: baseline;
							margin-left: -1em;
						}
					}
					a {
						@extend .light-link;
					}
				}
			}
			&.expanded {
				height: auto;
				div.header {
					border-bottom: 1px solid $light-grey;
				}
				div.author-bio {
					display: block;
				}
			}
		}
		@include for-tablet-landscape-up() {
			grid-column: span 6;
		}
		@include for-desktop-up() {
			grid-column: span 4;
		}
	}
}