// components/_cards.scss

*.card {
	background: white;
	&.expanded {
		.cards--inline & {
			width: 240px;
			border-bottom: 4px solid rgb(202,228,211);
		}
		.post-grid & {
			figure {
				margin-bottom: 22px;
			}
			div.article-body {
				padding: 0 12px;
			}
		}
		.over-line {
			font-size: 16px;
			line-height: 20px;
			font-weight: 600;
			letter-spacing: .5px;
		}
		h1 {
			@include for-tablet-landscape-up() {
				font-size: 28px;
				line-height: 32px;
			}
			
			margin-top: 6px;
			margin-bottom: 14px;
			letter-spacing: -.2px;
		}
		p {
			font-size: 20px;
			line-height: 24px;
			letter-spacing: -.2px;
			&.byline {
				margin-top: 12px;
			}
		}
		
		@include for-tablet-landscape-up() {
			.over-line {
				font-size: 14px;
				line-height: 18px;
			}
			p {
				font-size: 18px;
			}
			h1 {
				font-size: 20px;
				line-height: 24px;
			}
			
		}
		
	}
	&.collapsed {
		.cards--inline & {
			width: 290px;
			border-bottom: 4px solid rgb(202,228,211);
			@include for-tablet-landscape-up() {
				width: 380px;
			}
			display: flex;
			margin-bottom: 12px;
			figure {
				flex: 0 0 107px;
				@include for-tablet-landscape-up() {
					flex: 0 0 140px;
				}
			}
		}
	}
	div.card__body {
		padding: 12px;
	}
	figure {
		position: relative;
		svg.podcast-speaker-icon {
			width: 34px;
			position: absolute;
			left: 24px;
			bottom: 12px;
		}
	}
}