div.toggle-expandable-text {
	text-align: center;
	cursor: pointer;
	&.open {
		padding-top: 12px;
	}
}
small.toggle-trigger {
	display: inline-block;
	background: $light-grey;
	padding: 2px 8px;
	margin-top: 24px;
}