*.module.share-twitter {
	color: $text-dark-green;
	h2, p {
		margin-bottom: 12px;
	}
	@include for-tablet-landscape-up() {
		div.box {
			display: flex;
			justify-content: space-between;
			p {
				&:first-of-type {
					flex: 0 0 60%;
				}
				&:last-of-type {
					flex: 0 0 30%;
				}

			}
		}
	}
	@at-root {
		div.module.share-twitter {
			div.module__body {
				@include for-tablet-portrait-up() {
					padding-right: 12px;
				}
			}
		}
	}
}