div.podcast {
	
}

div.podcast {
	div.podcast-player {
		@extend .mobile-full-width;
		color: $text-dark-green;
		h2 {
			margin-bottom: 16px;
		}
		.player-body {
			color: $text-dark-green;
			a {
				color: $text-dark-green;
			}
			padding:24px;
			background: $primary-color;
			display: flex;
			flex-flow: row wrap;
			>* {
				flex: 0 0 100%;
			}
			div.podcast__cover {
				margin-bottom: 24px;
			}
			div.podcast__player-controls {
				margin-bottom: 24px;
				margin: 48px 0;
				@include for-tablet-portrait-up() {
				 	margin: 0;
				}
			}
			div.podcast__content {
				margin-bottom: 48px;
				p.over-line {
					color: $text-dark-green;
					font-size: 15px;
					line-height: 18px;
				}
				p.as-h1 {
					font-size: 28px;
					line-height: 32px;
					margin-bottom: 6px;
				}
				p.intro {
					font-size: 18px;
		    		line-height: 24px;
				}
				p.over-line {
					margin-bottom: 6px;
				}
			}
			div.podcast__aside {
				p {
					display: flex;
					justify-content: space-between;
					a {
						&.outlink {
							margin: 0 6px;
						}
					}
				}
			}
			@include for-tablet-portrait-up() {
				padding:24px;
				justify-content: space-between;
				div.podcast__cover {
					flex: 0 0 220px;
					order: 1;
				}
				div.podcast__player-controls {
					order: 3;
					margin-bottom: 24px;
				}
				div.podcast__content {
					order: 2;
					flex: 0 0 240px;
					margin-bottom: 24px;
				}
				div.podcast__aside {
					order: 4;
				}
			}
			@include for-tablet-portrait-up() {
				div.podcast__content {
					flex: 0 0 220px;
				}
			}
			@include for-desktop-up() {
				div.podcast__content {
					flex: 0 0 310px;
				}
			}
		}
	}
	&--entry {
		grid-column: 1 / -1;
		@include for-tablet-portrait-up() {
			grid-column: span 9;
		}
		div.podcast-player {
			.player-body {
				@include for-tablet-landscape-up() {
					padding-left: 64.2px;
					padding-right: 64.2px;
					div.podcast__cover {
						//flex: 0 0 231px;
					}
					div.ppodcast__content {
						flex: 0 0 200px;
					}
				}
				@include for-desktop-up() {
					padding-left: 81px;
					div.podcast__cover {
						flex: 0 0 231px;
					}
					div.podcast__content {
						flex: 0 0 320px;
					}
				}
			}
		}
	}
}


