div.popular-posts {
	span.over-line {
		
	}
	ol {
	  list-style: none;
	  counter-reset: my-awesome-counter;
	  display: flex;
	  flex-wrap: wrap;
	  margin: 0;
	  padding: 0;
	}
	ol li {
	  counter-increment: my-awesome-counter;
	  display: flex;
	  width: 100%;
	  margin-bottom: 12px;
	  padding: 0 24px 0 12px;
	  
	  span.over-line {
	  	color: $middle-grey;
	  	font-size: 14px;
		line-height: 18px;
		letter-spacing: .5px;
		font-weight: 600;
		display: block;
	  }
	  strong {
	  	display: block;
	  	border-bottom: 1px solid $light-grey;
	  	padding-bottom: 12px;
	  	font-size: 18px;
	  }
	}
	ol li::before {
	  content: "" counter(my-awesome-counter);
	  font-size: 2em;
	  margin-right: 0.5rem;
	  line-height: 1;
	  color: $primary-color;
	}


}