@font-face {
  font-family: 'Signifier Web';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/signifier/signifier-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signifier/signifier-regular.woff') format('woff'); /* Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: 'Signifier Web';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/signifier/signifier-regular-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signifier/signifier-regular-italic.woff') format('woff'); /* Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: 'Signifier Web';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/signifier/signifier-bold.woff2') format('woff2'); /* Super Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: 'Signifier Web';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/signifier/signifier-bold-italic.woff2') format('woff2'); /* Super Modern Browsers */
  font-display: swap;
}