body {
	min-height: 100vh;
	&.freeze {
		overflow: hidden !important;
		position: fixed;
		width: 100%;
	}
}


img {
	//width: 100%;
	display: block;
	width: 100%;
	max-width: 100%;
}
.color-base {
    color: $body-color !important;
    &:hover {
        color: $primary !important;
    }
}
[data-bs-theme="dark"] {
	.color-base {
    color: #dee2e6 !important;
	    &:hover {
	        color: #e5797c !important;
	    }
	}
}
div.site-tools {
	svg {
		width: 25px;
		height: 25px;
		cursor: pointer;
		path {
			fill: $body-color;
		}
		[data-bs-theme="dark"] & {
			path {
				fill: #dee2e6 !important;
			}
		}
	}
}
div.close {
	cursor: pointer;
}
svg.close {
	cursor: pointer;
	path {
			fill: $body-color;
		}
		[data-bs-theme="dark"] & {
			path {
				fill: #dee2e6 !important;
			}
		}
}
svg.color-mode-icon {
	path {
		fill: $body-color;
		&.moon {
			display: none;
		}
	}
	[data-bs-theme="dark"] & {
		path {
			&.moon {
				display: block;
			}
			&.sun {
				display: none;
			}
		}
	}
}
ul.arrowed {
	li {
		margin-left: 1em;
		//margin-bottom: 1em;
		list-style: none;
		&:before {
			content: "";
			background: url('data:image/svg+xml; utf8, <svg width="434px" height="500px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\a <g style=""><path d="M294.671697,215.182669 L0.000000,215.182669 L0.000000,285.440041 L295.353808,285.440041 L145.289517,449.146539 L191.673025,498.940599 L432.458000,249.970300 L191.673025,1.000000 L145.289517,51.476170 Z" fill="%23000000" stroke="none" />\a </g></svg>');
			background-size: contain;
			margin: 0 .4em 0 0;
			width: .6em;
			height: .6em;
			background-repeat: no-repeat;
			display: inline-block;
			vertical-align: baseline;
			margin-left: -1em;
		}
	}
}
.arrow-after {
	&:after {
		content: "";
		background: url('data:image/svg+xml; utf8, <svg width="434px" height="500px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\a <g style=""><path d="M294.671697,215.182669 L0.000000,215.182669 L0.000000,285.440041 L295.353808,285.440041 L145.289517,449.146539 L191.673025,498.940599 L432.458000,249.970300 L191.673025,1.000000 L145.289517,51.476170 Z" fill="%23999AA5" stroke="none" />\a </g></svg>');
		background-size: contain !important;
		margin: 0 0 0 .3em !important;
		width: .65em !important;
		height: .65em !important;
		background-repeat: no-repeat !important;
		display: inline-block !important;
	}
	&.green {
		&:after {
				content: "";
				background: url('data:image/svg+xml; utf8, <svg width="434px" height="500px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\a <g style=""><path d="M294.671697,215.182669 L0.000000,215.182669 L0.000000,285.440041 L295.353808,285.440041 L145.289517,449.146539 L191.673025,498.940599 L432.458000,249.970300 L191.673025,1.000000 L145.289517,51.476170 Z" fill="%23005C48" stroke="none" />\a </g></svg>');
			}
	}
}
.arrow-before {
	&:before {
		content: "";
		background: url('data:image/svg+xml; utf8, <svg width="434px" height="500px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\a <g style=""><path d="M294.671697,215.182669 L0.000000,215.182669 L0.000000,285.440041 L295.353808,285.440041 L145.289517,449.146539 L191.673025,498.940599 L432.458000,249.970300 L191.673025,1.000000 L145.289517,51.476170 Z" fill="%23000000" stroke="none" />\a </g></svg>');
		background-size: contain;
		margin: 0 .3em 0 0;
		width: .8em;
		height: .8em;
		background-repeat: no-repeat;
		display: inline-block;
	}
}
.arrow-out {
	&:after {
		content: "";
		background: url('data:image/svg+xml; utf8, <svg width="450px" height="450px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\a <g style=""><path d="M385.097143,449.280000 L449.280000,449.280000 L441.679398,8.445113 L0.000000,0.000000 L0.000000,59.960301 L327.670376,72.627970 L12.667669,386.786165 L60.804812,434.923308 L370.740451,124.143158 L385.097143,449.280000 Z " fill="%23000000" stroke="none" />\a </g></svg>');
		background-size: contain;
		margin: 0 0 0 .3em;
		width: .6em;
		height: .6em;
		background-repeat: no-repeat;
		display: inline-block;
	}
}