// Typography

body {
	font-family: $base-font;
	font-weight: 400;
	//color: $body-color;
}

h1 {
	text-wrap: balance;
}
.font-small-caps {
    font-variant: all-small-caps;
    letter-spacing: .8px;
    font-family: Signifier Web,serif;
    font-size: .9em;
}
article.story {

}
article {
	&.story {
		section.article-body {
			p {
				text-align: justify;
				margin-bottom:0 !important;
				@include media-breakpoint-down(md) {
					font-size: .93em !important;
				}
				text-indent: 50px;
				// &:not(:first-child) {
				//     text-indent: 50px;
				// }
			}
			blockquote {
				font-style: italic;
				margin: 1.5rem 0 1.5rem 50px;
			}
		}
	}
	&.generic {
		h2 {
			margin: 2rem 0 1rem 0;
		}
		h3, h4 {
			font-weight: 700;
		}
	}
}

