// Variables



$article-copy: 'Signifier Web', 'Geogia', serif;
$base-font: 'Signifier Web', 'Geogia', serif;
$base-font-sc: 'Signifier Web', serif;

$text-color: #333333;
$text-dark-green: #005C48;
$primary-color: #ef261e;
$primary-color-headlines: #00eeb5;
$primary-as-background: #D8FFEA;
$dark-green: rgb(8,98,94);
$blue: rgb(11,28,193);
$middle-grey: rgb(153,154,165);
$light-grey: lighten($middle-grey, 30%);
$rot: #ef261e;

$dark-grey: #999AA5;